.card {
  width: 320px;
  height: 450px;
  animation: loading 1s alternate linear infinite;
  position: relative;
  overflow: hidden;
}

@keyframes loading {
  0% {
    opacity: 0.7;
    background-color: rgb(204, 204, 204);
  }
  100% {
    opacity: 0.7;
    background-color: rgb(139, 139, 139);
  }
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s ease;
}

.card_shadow {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.699));
  position: absolute;
  bottom: -200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  transition: 0.2s ease;
}

.card:hover .card_shadow {
  bottom: 0;
}

.card:hover img {
  transform: scale(1.1);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title p {
  font-size: 30px;
  margin: 1rem 0;
  text-align: center;
}

.buttons {
  font-size: 35px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.button {
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  color: #e50914;
}
